/* # =============================================================================== # */
/* # Gtk Lock Style:                                                                 # */
/* # =============================================================================== # */
@define-color color0 #0d0c0c;
@define-color color1 #e57474;
@define-color color2 #87a987;
@define-color color3 #87a987;
@define-color color4 #658594;
@define-color color5 #a292a3;
@define-color color6 #658594;
@define-color color7 #c5c9c5;
@define-color bg #0d0c0c;
@define-color bg-alt #181616;
@define-color bg-gray #282727;
@define-color fg #8a9a7b;
* {
  all: unset;
}
window {
  background-image:
    linear-gradient(rgba(13, 12, 12, 0.6), rgba(13, 12, 12, 0.6)),
    url("/home/lli/Pictures/pix/wallpapers/EYES.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#window-box {
  background-color: alpha(@bg-alt, 0.8);
  background-image:
    linear-gradient(rgba(13, 12, 12, 0.8), rgba(13, 12, 12, 0.8)),
    url("/home/lli/Pictures/pix/wallpapers/EYES.png");
  background-position: center center;
  border: 6px solid alpha(@bg-gray, 0.8);;
  padding: 0 32em;
  margin-top: 44em;
}
#clock-label {
  min-width: 320px;
  background-color: alpha(@color2, 0.1);
  color: @color2;
  font-weight: 900;
  font-size: 9pt;
  padding: 10px 30px;
  margin-bottom: 60px;
  border-radius: 0 0 10px 10px;
  border: 1px solid alpha(@color2, 0.5);
}
#input-label {
  font-size: 0;
}
#user-name {
  font-size: 16pt;
}
#input-field {
  padding: 10px 15px;
  border-radius: 4px;
  border: 1px solid @color2;
  caret-color: @color2;
  color: @color2;
}
#warning-label,
#error-label,
#unlock-button {
  margin-top: 12px;
  padding: 10px 2rem;
  margin-bottom: 20px;
}
#error-label {
  color: @color1;
}
#unlock-button {
  border-radius: 4px;
  background-color: alpha(@color2, 0.1);
  color: @color2;
  border: 1px solid alpha(@color2, 0.5);
}
